In [50]:
import numpy as np
import pandas as pd
pd.options.display.max_rows = 10

import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

import sys
import os
sys.path.append(os.path.abspath("./"))
sys.path.append(os.path.abspath("../"))

import importlib
import graphs as g
import datasource as ds
import model as m
import utils as u

# Features engineering

In [51]:
importlib.reload(ds)

matrix, features = ds.load_train_data()

Loading train data... *
Creating entityset... *
Loading entities... *
Generating DFS... *

In [65]:
matrix.fillna(0, inplace=True)
matrix.head(5)

,NAME_CONTRACT_TYPE = Cash loans,NAME_CONTRACT_TYPE = Revolving loans,NAME_CONTRACT_TYPE = unknown,CODE_GENDER = F,CODE_GENDER = M,CODE_GENDER = XNA,CODE_GENDER = unknown,FLAG_OWN_CAR = N,FLAG_OWN_CAR = Y,FLAG_OWN_CAR = unknown,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
100003,1,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100004,0,1,0,0,1,0,0,0,1,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100006,1,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100007,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

# Features selection

In [67]:
Y_train = matrix["TARGET"]
u.log("Y train", Y_train.shape)
X_train = matrix.iloc[:,1:].values
u.log("X train", X_train.shape)

Y train * (307511,)
X train * (307511, 204)

# Keras model

In [72]:
importlib.reload(m)
from keras import optimizers

sgd = optimizers.SGD(lr=0.001, decay=1e-6, momentum=0.9, nesterov=True)
rms = optimizers.RMSprop(lr=1e-2)

model = m.keras_single_classification(X.shape[1])
model.compile(loss='mean_squared_error', optimizer=sgd, metrics=['accuracy'])
history = model.fit(X_train, Y_train, batch_size=10000, epochs=10)

Epoch 1/10
307511/307511 [==============================] - 6s 19us/step - loss: 0.0810 - acc: 0.9190
Epoch 2/10
307511/307511 [==============================] - 5s 18us/step - loss: 0.0807 - acc: 0.9193
Epoch 3/10
307511/307511 [==============================] - 5s 18us/step - loss: 0.0807 - acc: 0.9193
Epoch 4/10
307511/307511 [==============================] - 5s 18us/step - loss: 0.0807 - acc: 0.9193
Epoch 5/10
307511/307511 [==============================] - 5s 17us/step - loss: 0.0807 - acc: 0.9193
Epoch 6/10
307511/307511 [==============================] - 5s 18us/step - loss: 0.0807 - acc: 0.9193
Epoch 7/10
307511/307511 [==============================] - 5s 18us/step - loss: 0.0807 - acc: 0.9193
Epoch 8/10
307511/307511 [==============================] - 5s 18us/step - loss: 0.0807 - acc: 0.9193
Epoch 9/10
307511/307511 [==============================] - 5s 18us/step - loss: 0.0807 - acc: 0.9193
Epoch 10/10
307511/307511 [==============================] - 5s 18us/step - loss: 0.0807 - acc: 0.9193

# Evaluation